.template__container {
  .bx--grid {
    .bx--btn--tertiary {
      color: #73ce1b;
      border-color: #73ce1b;
    }
  }
  .bx--grid {
    margin-left: 0px;
    margin-right: 0px;
    .bx--row {
      .bx--col {
        // display: grid;
        // place-items: center;
      }
    }
  }
}

.bb {
  border: 1px blue solid;
}

.bg--white {
  background-color: white;
}

.red {
  color: red;
}

.gray {
  color: darkslategray;
}
.green {
  color: green;
}

.subtitle {
  // font-family: Lato;
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #13232a;
}

.helper {
  // font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #13232a;
}
