@import "carbon-components/scss/globals/scss/vars.scss";
@import "./overrides.scss";

.center-btn {
  display: grid;
  place-items: center;
}

.custom__row {
  display: grid;
  place-items: center;
  margin-bottom: $spacing-04;
}
