@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";

@import "./overrides.scss";
@import "./mixins.scss";

.home__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.loading-centered {
  position: fixed;
  top: 25%;
  left: 45%;
}

.toast-centered {
  position: fixed;
  top: 50px;
  left: 45%;
}
