@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";

@import "./mixins.scss";

.home__container {
  display: flex;
  // width: 100%;
  height: 100%;
  // border: 1px dashed green;6px
  justify-content: space-evenly;
  padding-top: 20px;
  // display: grid;
  // place-items: center;

  .home__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 auto;
    // border: 1px pink solid;
    height: 100%;

    .home__tile {
      // border: 1px cyan border;
      padding: 0.5rem;

      .home__tile-button {
        display: grid;
        place-items: center;
        width: 7rem;
        height: 7rem;
        background-color: #73ce1b;
      }

      .home__tile-label {
        width: 7rem;
        padding: 5px;
        // font-family: Lato;
        font-style: normal;
        font-weight: normal;
        // word-wrap: break-word;
        // word-break: break-all;
        // overflow-wrap: break-word;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #6f914d;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .home__container {
    display: flex;
    height: 100%;
    // border: 1px dashed blue;
    padding-top: 20px;
    // display: grid;
    // place-items: center;
    .home__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
    }
  }
}
