@import "carbon-components/scss/globals/scss/vars.scss";
@import "./overrides.scss";

.center-btn {
  display: grid;
  place-items: center;
}

.custom__row {
  display: grid;
  place-items: center;
  margin-bottom: $spacing-04;
}

.subtitle {
  // font-family: Lato;
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #13232a;
}

.helper {
  // font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #13232a;
}
